---
layout: default
title: ALICCC.COM-最好用的开源的互联网网址导航程序
---
<div class="container" role="main">
    <div class="page-header">
        <h1>Categories
            <i class="in-tips">This site contains a total of:<span class="big"> {{ site.posts | size }} </span>;  Last updated:  {{ site.time }}</i>
        </h1>
    </div>

   <div class="main-box">   
{% capture site_categories %}{% for category in site.categories %}{{ category | first }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}
<!-- site_categories: {{ site_categories }} -->
{% assign category_words = site_categories | split:',' | sort %}
<!-- category_words: {{ category_words }} -->
<ul class="tag-box" style="display: none;">
  {% for item in (0..site.categories.size) %}{% unless forloop.last %}
  {% capture this_word %}{{ category_words[item] | strip_newlines }}{% endcapture %}
  <li><a href="#{{ this_word | cgi_escape }}" rel="nofollow">{{ this_word }} <sup>{{ site.categories[this_word].size }}</sup></a></li>
  {% endunless %}{% endfor %}
</ul>

{% for item in (0..site.categories.size) %}{% unless forloop.last %}
{% capture this_word %}{{ category_words[item] | strip_newlines }}{% endcapture %}
        <div class="panel panel-grey">
            <div class="panel-heading">
                <div class="pull-left">
                    <h3 class="panel-title">
                        <a title="{{ this_word }}" href="/channels/{{ this_word }}/" target="_blank" id="{{ this_word | cgi_escape }}">{{ this_word }}
                        </a>
                        <span class="badge">{{ site.categories[this_word].size }}</span>
                    </h3>
                </div>
                <div class="pull-right text-right">
                    <ul class="rec-content hidden-xs">
                    {% for post in site.categories[this_word] %}{% if post.title != null %}
                        
                        {% if post.attr %}
                        <li>
                        <a href="http://{{ post.title }}" target="_blank" style="color:#1ABC9C;">{{ post.name }}</a>
                        </li>
                        {% endif %}
                        
                    {% endif %}{% endfor %}
                    </ul>
                </div>
            </div>
            <div class="panel-body padding-none">
                <div class="row">
                {% for post in site.categories[this_word] limit:18 %}{% if post.title != null %}
                    <a href="http://{{ post.title }}" title="{{ post.content | remove: '<p>' | remove: '</p>' |  remove: '<!--break-->' }}" target="_blank">
                        <div class="col-sm-2">
                            <div class="padding-content">
                                <b>
                                {% if post.tags %}
                                    <i class="icon-tags">{{ post.tags }}</i>
                                {% endif %}
                                {% if post.attr %}
                                    <i class="icon-hot">{{ post.attr }}</i>
                                {% endif %}
                                {{ post.name }}
                                </b>
                                <span class="link-content">{{ post.content | remove: '<p>' | remove: '</p>' | split:'<!--break-->' | first }}</span>
                            </div>
                        </div>
                    </a>
                {% endif %}
                {% endfor %}
                </div>
            </div>
        </div>
        {% endunless %}
        {% endfor %}
    </div>
</div>