<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/" title="{{ site.SiteName }}"><img src="/assets/images/logo.png" /></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="{{ site.baseurl }}/index.html">Home</a>
                </li>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">旗下网站<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/channels/ps/" target="_blank">Joozo's Ps礼仪</a></li>
                        <li><a href="/channels/color/web.html" target="_blank" title="Web安全色">Web安全色</a></li>
                        <li><a href="/channels/color/jp.html" target="_blank" title="日本传统色">日本传统色</a></li>
                        <li><a href="/channels/color/" target="_blank" title="中国传统色彩">中国传统色彩</a></li>
                        <li><a href="http://imapm.com" target="_blank">IMAPM中文网</a></li>
                        <li class="divider"></li>
                        <li class="dropdown-header">其它</li>
                        <li><a href="/channels/2048" target="_blank" title="Web安全色">2048在线玩</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a target="_blank">Disqus</a></li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>