<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="{stl:value type='description'}">
	<meta name="keywords" content="{stl:value type='keywords'}">
	<meta name="author" content="{stl:value type='author'}">
	<title>{Channel.Title} - {Stl.SiteName}</title>
	<stl:include file="@/include/css.html" />
</head>

<body role="document">
	<stl:include file="@/include/header.html" />
	<div class="container" role="main">
		<div class="jumbotron">
			<div class="banner">
				<h1>{Channel.Title}</h1>
				<p>{Channel.Content}
					<br>最新更新日期
					<stl:contents scope="All" totalNum="1" order="order by lasteditdate DESC">
						<stl:content type="lasteditdate" formatString="yyyy-MM-dd hh:mm"></stl:content>
					</stl:contents>
				</p>
			</div>
		</div>
		<div class="main-box">
			<div class="panel panel-grey">
				<div class="panel-body padding-none">
					<div class="row">
						<stl:contents order="AddDate" scope="SelfAndChildren">
							<stl:if testType="IsTop" testOperate="Equals" testValue="true">
								<stl:successTemplate>
									<stl:a title="{Content.Summary}" target="_blank">
										<div class="col-sm-2">
											<div class="padding-content">
												<b><i class="icon-hot">Hot</i><stl:content type="Title" wordNum="10" /></b>
												<stl:content type="Summary" isClearTags="true" wordNum="20" />
											</div>
										</div>
									</stl:a>
								</stl:successTemplate>
								<stl:failureTemplate>
									<stl:if testType="AddDate" testOperate="GreatThan" testValue="3d">
										<stl:successTemplate>
											<stl:a title="{Content.Summary}" target="_blank">
												<div class="col-sm-2">
													<div class="padding-content">
														<b><i class="icon-new">New</i><stl:content type="Title" wordNum="10" /></b>
														<stl:content type="Summary" isClearTags="true" wordNum="20" />
													</div>
												</div>
											</stl:a>
										</stl:successTemplate>
										<stl:failureTemplate>
											<stl:a title="{Content.Summary}" target="_blank">
												<div class="col-sm-2">
													<div class="padding-content">
														<b><stl:content type="Title" wordNum="10" /></b>
														<stl:content type="Summary" isClearTags="true" wordNum="20" />
													</div>
												</div>
											</stl:a>
										</stl:failureTemplate>
									</stl:if>
								</stl:failureTemplate>
							</stl:if>
						</stl:contents>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /container -->
	<stl:include file="@/include/footer.html" />
	<stl:include file="@/include/js.html" />
</body>

</html>