.clearfix { *zoom: 1;	}
.clearfix:before,.clearfix:after {display: table; line-height: 0; content: "";	}
.clearfix:after { clear: both;}
a img{border:0 none}
.link:link{color:#dc3a2d; text-decoration:none}
.link:visited{color:#669; text-decoration:none}
.link:hover{text-decoration:underline; color:#dc3a2d;}
.link:active{text-decoration:underline; color:#a42219;}
.jo-c { font-family:Microsoft Yahei; padding-bottom:20px; margin-top:-17px;}
.jo-c ul{width:19.9%; float:right;}
.jo-c ul,li{margin:0; padding:0;}
.jo-c ul li{display: block; padding:5px 10px; margin:0 2px 2px 0; border-bottom-right-radius:8px; }
#tester{ padding:5px 10px; margin: 18px 0 0 60px; display:none; position:absolute; font-size:12px;}
.jo-c ul li a span{display: block; font-size:14px; cursor: pointer;}
.jc-c a { color:#000; text-decoration:none;}
.white a {color:#FFF;text-decoration:none;}
.change{  margin: 0 auto 20px;  text-align:center ; display:block;}
.change a{  font-size:14px ; color:#dc3a2d!important; }
.jumbotron-carousel .btn {margin-top: 22px;
font-family: "Microsoft Yahei"; font-weight:100; font-size:16px;
padding: 10px 15px;
color: #fff;
border-color: #c7e7dc;
background-color: transparent;
text-shadow: 0 1px 0 rgba(0,0,0,0.15);}

