
@charset "utf-8";
body {
	font-family: 微软雅黑, "Open Sans", sans-serif;
	font-size: 14px;
	color: #2d251b;
	overflow-x: hidden;
}
input, select, textarea {
	font-family: 微软雅黑, "Open Sans", sans-serif;
	font-size: 1em;
	-webkit-appearance: none;
}

.wrap {
	max-width: 1200px;
	padding: 0 10px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}
img, a {
	border: 0;
}
ul, li {
	list-style: none;
}
* {
	margin: 0;
	padding: 0;
}
.flt {
	float: left;
}
.frt {
	float: right;
}
.clear {
	clear: both;
}
.clear:after, .clear:before {
	content: '';
	clear: both;
	display: table;
}
.cont_copy {
	line-height: 25px;
	background: #f7f7f7;
	margin-top: 15px;
	padding: 5px 15px;
}
.cont_copy p {
	text-indent: 0;
	text-align: center;
	line-height: 25px;
}
img {
	max-width: 100%;
}

@media screen and (min-width: 320px) and (max-width: 360px) {
body {
	font-size: 12px;
}
}
 @media screen and (min-width: 360px) and (max-width: 480px) {
body {
	font-size: 14px;
}
}
 @media screen and (min-width: 480px) and (max-width: 700px) {
body {
	font-size: 14px;
}
}
 @media screen and (min-width: 700px) {
body {
	font-size: 14px;
}
}

.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: #fff;
	z-index: 10000;
	box-shadow: 0 0 5px rgba(0,0,0,0.2)
}
.logo {
	margin-right: 2em;
	margin-top: -20px;
}
.header .text span {
	display: block;
	line-height: 35px;
	background: url(../image/tel.png) no-repeat left center;
	padding-left: 30px;
	font-size: 16px;
	color: #d31f23;
}
.header .text p {
	color: #626b72;
}
.menu ul li {
	float: left;
	margin-left: 30px;
}
.menu ul li * {
	display: block;
	text-align: center;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
}
.menu ul li span {
	font-size: 15px;
	padding: 0 15px;
	margin-top: 15px;
	color: #626b72;
}
.menu ul li label {
	font-size: 9px;
	color: #626b72;
	opacity: 0.39;
	filter: alpha(opacity=39);
}
.menu ul li em {
	height: 18px;
	width: 0px;
	margin: 0 auto;
	background: url(../sitefiles/library/images/2021/10/5ad3e1e8e2427359.png) no-repeat center center;
}
.menu ul li.on span, .menu ul li a:hover span, .menu ul li.on label, .menu ul li a:hover label {
	color: #d31f23;
}
.menu ul li a:hover em, .menu ul li.on em {
	width: 100%;
}
 */

 */


 .mainer {
	padding-top: 110px;
}
.page {
	padding: 60px 0;
	/* text-align: center; */
	margin: 0 auto;

}
.title {
	text-align: center;
	padding: 0 10px;
	margin-bottom: 50px;
}
.title span {
	font-size: 26px;
}
 .title em {
	height: 25px;
	width: 100%;
	background: url(../sitefiles/library/images/2021/10/5ad3e1e8e2427359.png) no-repeat center center;
	display: block;
} 
.title p {
	display: inline-block;
	margin: 0 auto;
}
.page_list {
	position: relative;
	align-content: center;
}
.page_list ul {
	/* border-left: 1px solid #e3e3e3; */
	overflow: hidden;
	padding: 10px 0;
}
.page_list ul li {
	width: 20%;
	height: 30%;
	text-align: center;
	float: left;
}
.page_list ul li .list {
	border: 1px solid #e3e3e3;
	/* border-left: 0; */
	padding-top: 30px;
}
.page_list ul li p {
	width: 70%;
	margin: 0 auto;
	line-height: 20px;
	height: 80px;
	font-size: 13px;
	overflow: hidden;
	color: #5f5f5f;
}
.page_list ul li span {
	display: block;
	padding: 20px 0;
	font-size: 21px;
}
.page_list ul li:hover span {
	color: #d31f23;
}
.page_list li:hover {
	box-shadow: 0 0 15px rgba(0,0,0,0.25);
}
.page_list ul * {
	transition: all 0.5s;
	-webkit-moz-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	transition: all 0.5s;
}
.page_list li a {
	display: block;
	position: relative;
	z-index: 100;
}
.page_list li .img {
	width: 106px;
	border-radius: 106px;
	margin: 0 auto;
	height: 106px;
	border: 1px solid #fff;
}
/* .page_list li.li1 .img {
	background: url(../sitefiles/library/images/2021/10/dc15a22ecfe09115.png) no-repeat center center;
}
.page_list li.li2 .img {
	background: url(../sitefiles/library/images/2021/10/2d8edce34f65514a.png) no-repeat center center;
}
.page_list li.li3 .img {
	background: url(../sitefiles/library/images/2021/10/a79fac2b262034f5.png) no-repeat center center;
}
.page_list li.li4 .img {
	background: url(../sitefiles/library/images/2021/10/8c0edc4f669ca057.png) no-repeat center center;
}
.page_list li.li5 .img {
	background: url(../sitefiles/library/images/2021/10/a858b88bae4d4c82.png) no-repeat center center;
}
.page_list li.li5 .list {
	border-right: 0;
} */
.page_list li:hover .img {
	border-color: #d31f23;
}
.list img:hover{
	border-color: #d31f23;
	border: #d31f23;
} 
 .page_list li.li1:hover .img {
	background: url(../sitefiles/library/images/2021/10/15db9d2f7fde3727.png) no-repeat center center;
}
/*.page_list li.li2:hover .img {
	background: url(../sitefiles/library/images/2021/10/28067e9899c17175.png) no-repeat center center;
}
.page_list li.li3:hover .img {
	background: url(../sitefiles/library/images/2021/10/e3067a109439e7ac.png) no-repeat center center;
}
.page_list li.li4:hover .img {
	background: url(../sitefiles/library/images/2021/10/ac663ba935e026ef.png) no-repeat center center;
}
.page_list li.li5:hover .img {
	background: url(../sitefiles/library/images/2021/10/3680706a20e4606b.png) no-repeat center center;
} */
.kuang {
	position: absolute;
	top: 0;
	width: 20%;
	bottom: 0;
}
.kuang div {
	border: 1px solid #d31f23;
	height: 279px;
}
/* 案例 */
.page_f9f9f9 {
	background: #f9f9f9;
}
.page_list2 ul {
	overflow: hidden;
	margin: 0 10px;
}
.page_list2 ul li{
	width: 25%;
	margin-bottom: 10px;
	float: left;
}
.case_img img, .page_list2 ul li .img label {
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
}
.page_list2 ul li a:hover .case_img img {
	transform: scale(1.2);
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-ms-transform: scale(1.2);
	-o-transform: scale(1.2);
}
.page_list2 ul li .list {
	margin: 10px;
}
.page_list2 ul li .img {
	position: relative;
	overflow: hidden;
}
.page_list2 ul li .img label {
	width: 60px;
	height: 1px;
	background: #fff;
	display: block;
	margin: 5px auto;
}
.page_list2 ul li:hover .img label {
	width: 5px;
}
.page_list2 ul li a:hover .img {
	opacity: 1;
	filter: alpha(opacity=100)
}
.page_list3 ul li a:hover .text {
	background: #d31f23;
}
.page_list3 ul li a:hover .text h4 {
	background: url(../sitefiles/library/images/2021/10/926d5ae9c51c7fc2.png) no-repeat right center;
}

.page_list2 ul li .img .img {
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	position: absolute;
	top: 0%;
	left: 0;
	bottom: 0;
	display: table;
	opacity: 0;
	filter: alpha(opacity=0);
	width: 100%;
	height: 200px;
	background: rgba(0,0,0,0.5);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5f000000', endColorstr='#5f000000');
}
.page_list2 ul li .img .img span {
	font-size: 15px;
	vertical-align: middle;
	margin: 0 auto;
	text-align: center;
	display: table-cell;
} 
 .page_list2 ul li .text {
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	line-height: 20px;
	background: #f1f1f1;
	padding: 15px 20px;
} 
 .page_list2 ul li .text h4 {
	font-weight: normal;
	padding-right: 40px;
	background: url(../sitefiles/library/images/2021/10/d86111dbb7b3f11e.png) no-repeat right center;
	color: #2d251b;
}
.page_list2 ul li .text span {
	margin-left: 10px;
	font-size: 14px;
	color: #909090;
}
.more {
	text-align: center;
	margin-top: 40px;
}
.more a {
	display: inline-block;
	line-height: 35px;
	font-size: 15px;
	width: 132px;
	text-align: center;
	border-radius: 30px;
	border: 1px solid #d2d2d2;
	color: #adadad;
}
.more a:hover {
	border-color: #e63b3e;
	color: #e63b3e;
}
.page_list3 ul {
	margin: 0 25px;
}
.page_list3 ul li {
	width: 33.333%;
}
.page_list3 ul li .list {
	margin: 25px;
}
 .page_list3 ul li a .img .img {
	opacity: 0;
	filter: alpha(opacity=0);
	top: 0;
}
.page_list3 ul li a:hover .img .img {
	opacity: 1;
	filter: alpha(opacity=100);
} 
.page_list3 .t_tit {
	border-bottom: 1px solid #c9c9c9;
	position: relative;
}
.page_list3 .t_tit label {
	position: absolute;
	bottom: -2px;
	left: 0;
	width: 40px;
	height: 3px;
	background: #d31f23;
	display: block;
}
.page_list3 a:hover .t_tit label {
	background: #fff;
}
.page_list3 ul li a:hover .text p {
	color: #fff;
}
.page_list3 ul li .text p {
	margin: 10px 0;
	line-height: 25px;
	color: #5f5f5f;
	height: 75px;
	overflow: hidden;
}
.page_list3 ul li .text span {
	color: #2d251b;
	font-size: 22px;
	line-height: 50px;
	margin-left: 0;
	padding-bottom: 5px;
	white-space: nowrap;
}
.page_list3 ul li .text {
	background: none;
	border-bottom: 1px solid #e3e3e3;
}
.page_list3 ul li .text span.span1 {
	background: url(../image/icon16.png) no-repeat left center;
}
.page_list3 ul li .text span.span2 {
	background: url(../image/icon17.png) no-repeat left center;
}
.page_list3 ul li .text span.span3 {
	padding-left: 50px;
	background: url(../image/icon18.png) no-repeat left center;
}
.page_list3 ul li .text span.span4 {
	background: url(../image/icon19.png) no-repeat left center;
}
.page_list3 ul li .text span.span5 {
	background: url(../image/icon20.png) no-repeat left center;
}
.page_list3 ul li .text span.span6 {
	background: url(../image/icon21.png) no-repeat left center;
}
.page_list3 ul li .text span.span7 {
	background: url(../image/icon22.png) no-repeat left center;
}
.page_list3 ul li .text span.span8 {
	background: url(../image/icon23.png) no-repeat left center;
}
.page_list3 ul li .text span.span9 {
	background: url(../image/icon24.png) no-repeat left center;
}
.page_list3 ul li .text span.span10 {
	background: url(../image/icon25.png) no-repeat left center;
}
.page_list3 ul li .text span.span11 {
	background: url(../image/icon26.png) no-repeat left center;
}
.page_list3 ul li .text span.span12 {
	background: url(../image/icon27.png) no-repeat left center;
}
.page_list3 ul li .text span.span13 {
	background: url(../image/icon28.png) no-repeat left center;
}
.page_list3 ul li .text span.span14 {
	background: url(../image/icon29.png) no-repeat left center;
}
.page_list2 ul li a:hover .img span, .page_list3 ul li a:hover *, .page_list3 ul li a:hover .text span {
	color: #fff;
}

.span_icon.span1 {
	background: url(../image/icon16_2.png) no-repeat left center;
}
.span_icon.span2 {
	background: url(../image/icon17_2.png) no-repeat left center;
}
.span_icon.span3 {
	padding-left: 50px;
	background: url(../image/icon18_2.png) no-repeat left center;
}
.span_icon.span4 {
	background: url(../image/icon19_2.png) no-repeat left center;
}
.span_icon.span5 {
	background: url(../image/icon20_2.png) no-repeat left center;
}
.span_icon.span6 {
	background: url(../image/icon21_2.png) no-repeat left center;
}
.span_icon.span7 {
	background: url(../image/icon22_2.png) no-repeat left center;
}
.span_icon.span8 {
	background: url(../image/icon23_2.png) no-repeat left center;
}
.span_icon.span9 {
	background: url(../image/icon24_2.png) no-repeat left center;
}
.span_icon.span10 {
	background: url(../image/icon25_2.png) no-repeat left center;
}
.span_icon.span11 {
	background: url(../image/icon26_2.png) no-repeat left center;
}
.span_icon.span12 {
	background: url(../image/icon27_2.png) no-repeat left center;
}
.span_icon.span13 {
	background: url(../image/icon28_2.png) no-repeat left center;
}
.span_icon.span14 {
	background: url(../image/icon29_2.png) no-repeat left center;
}
.page_list4 {
	padding-top: 20px;
}
.page_list4 .wrap {
	max-width: 1300px;
}
.page_list4 .item_img {
	text-align: center;
}
.page_list4 .item {
	width: 33.333%;
	float: left;
}
.page_list4 ul li {
	cursor: pointer;
	margin: 20px auto;
	margin-bottom: 40px;
	width: 90%;
}
.page_list4 ul li .list {
	clear: both;
	padding: 20px 0;
	border: 1px solid #f9f9f9;
}
.page_list4 ul li .img {
	float: left;
	width: 90px;
	text-align: center;
}
.page_list4 ul li .img span {
	display: block;
	height: 48px;
	background: url(../sitefiles/library/images/2021/10/cb85a69af0d70b9e.png) no-repeat center center;
	margin-top: 18px;
}
.page_list4 .text {
	font-size: 13px;
	margin-right: 20px;
	overflow: hidden;
	line-height: 25px;
}
.page_list4 .text p {
	height: 75px;
	overflow: hidden;
}
.page_list4 .text h2 {
	margin-bottom: 20px;
	font-size: 18px;
}
.page_list4 ul li:hover .list {
	border-color: #d31f23;
}
.page_list4 ul li:hover .img span {
	background: url(../sitefiles/library/images/2021/10/8dae45e2282ebdf5.png) no-repeat center center;
}
.page_list4 ul li:hover .text h2, .page_list4 ul li:hover .text p {
	color: #d31f23;
}
.page_link ul {
	border-top: 1px solid #e5e5e5;
	border-left: 1px solid #e5e5e5;
	overflow: hidden;
}
.page_link ul li {
	width: 20%;
	float: left;
	background: #fff;
    
	
}
.page_link ul li a {
	display: block;
	height: 160px;
	line-height: 160px;
	border: 1px solid #e5e5e5;
	border-left: 0;
	border-top: 0;
	text-align: center;
	position: relative;
}
.page_link ul li img {
	vertical-align: middle;
	max-width: 85%;
	margin: 0 auto;
}
.gy_zqpz {
	overflow-x: hidden;
}
.page_link ul li:hover .img {
	transform: rotateY(180deg);
	-ms-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);
	filter: alpha(opacity=0);
	-moz-opacity: 0;
	opacity: 0;
}
.page_link ul li:hover .img1 {
	transform: rotateY(0deg);
	-ms-transform: rotateY(0deg);
	-moz-transform: rotateY(0deg);
	-webkit-transform: rotateY(0deg);
	-o-transform: rotateY(0deg);
	filter: alpha(opacity=1);
	-moz-opacity: 1;
	opacity: 1;
}
.page_link ul li .img {
	transition: all .5s linear 10ms;
	-webkit-transition: all .5s linear 10ms;
	-moz-transition: all .5s linear 10ms;
	-ms-transition: all .5s linear 10ms;
	-o-transition: all .5s linear 10ms;
	filter: alpha(opacity=60);
	-moz-opacity: 0.6;
	opacity: 0.6;
filter: progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);
	-webkit-filter: grayscale(100%);
	filter: Gray;
}
.page_link ul li .img1 {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	transition: all .5s linear 10ms;
	-webkit-transition: all .5s linear 10ms;
	-o-transition: all .5s linear 10ms;
	-moz-ms-transition: all .5s linear 10ms;
	-ms-transition: all .5s linear 10ms;
	filter: alpha(opacity=0);
	-moz-opacity: 0;
	opacity: 0;
	transform: rotateY(180deg);
	-ms-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);
}
.page_news .item {
	width: 47%;
}
.news_tit {
	text-align: center;
	font-size: 18px;
	color: #5a5a5a;
}
.news_tit span {
	height: 25px;
	border-bottom: 1px solid #dcdcdc;
	display: block;
	text-align: center;
	margin-bottom: 35px;
}
.news_tit span img {
	padding: 0 3px;
	background: #f9f9f9;
}
.page_news ul {
	padding-top: 30px;
}
.page_news ul li {
	border: 1px solid #fff;
	margin-bottom: 15px;
	padding: 25px;
	background: url(../sitefiles/library/images/2021/10/8a1ab307916a8ed5.png) no-repeat right bottom #fff;
	position: relative;
}
.page_news ul li:hover {
	border-color: #d31f23;
	background: url(../sitefiles/library/images/2021/10/a5d16d474ca7eacc.png) no-repeat right bottom  #fff;
}
.page_news ul li:hover .date {
	background: #d31f23;
}
.page_news ul li:hover .date_k, .page_news ul li:hover .date_k h2 {
	border-color: #df5a5d;
}
.page_news ul li .tips {
	position: absolute;
	top: -1px;
	right: 20px;
	width: 39px;
	height: 32px;
	background: url(..sitefiles/library/images/2021/10/dbd83c4f15662b86.png) no-repeat center center;
	text-align: center;
	line-height: 28px;
	color: #fff;
}

.page_news ul li .text h3 {
	color: #000;
	font-size: 18px;
	font-weight: normal;
	margin-bottom: 15px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
/* .page_news ul li:hover .text h3 {
	 color: #d31f23; 
} */
.page_news ul li .text p {
	font-size: 14px;
	line-height: 20px;
	height: 40px;
	overflow: hidden;
	color: #9e9e9e;
}
.page_news ul li .date {
	float: left;
	margin-right: 30px;
	background: #b5b5b5;
	padding: 2px;
}
.page_news ul li .date_k {
	height: 85px;
	width: 85px;
	padding: 0 5px;
	border: 2px solid #c9c9c9;
}
.date_k h2 {
	height: 48px;
	line-height: 48px;
	text-align: center;
	font-size: 43px;
	color: #fff;
	border-bottom: 1px solid #d2d2d2;
}
.date_k span {
	line-height: 25px;
	text-align: center;
	display: block;
	color: #fff;
}
.page_ededed {
	background: #ededed;
}
.wrap1 {
	max-width: 1500px;
	padding: 0 10px;
	margin: 0 auto;
}
.page_ededed h2 {
	font-size: 33px;
	font-weight: normal;
}
.page_ededed p {
	color: #4e4e4e;
	padding-top: 10px;
	font-size: 12px;
}
.div_input_list {
	margin: 15px -1%;
}
.div_input_list .div_input {
	margin: 15px 1%;
	float: left;
	width: 15%;
	height: 44px;
	line-height: 44px;
	background: #fff;
}
.div_input_list .div_input.input1 {
	width: 47%;
}
.div_input_list .div_input.input2 {
	width: 25%;
}
.div_input_list .div_input.input3 {
	margin-right: 15%;
	width: 220px;
	position: relative;
}
.div_input input {
	width: 100%;
	height: 44px;
	line-height: 44px;
	text-indent: 1.5em;
	margin: 0 auto;
	border: 0;
	background: none;
}
.div_input .img {
	position: absolute;
	right: 0;
	top: 0;
}
.div_input input[type=button] {
	background: #d31f23;
	color: #fff;
	text-indent: 0;
}

.footer1 {
	position: relative;
	background: #3b3b3b;
	color: #fff;
	padding: 0;
}
.gotop {
	position: absolute;
	top: -32px;
	left: 50%;
	margin-left: -28px;
}
.gotop a {
	display: block;
	width: 56px;
	height: 64px;
	background: url(../sitefiles/library/images/2021/10/5abc990754389bc8.png) no-repeat center center;
}
.tit h3 {
	border-bottom: 1px solid #545454;
	line-height: 40px;
	opacity: 0.8;
	filter: alpha(opacity=80);
	font-size: 16px;
	font-weight: normal;
	padding-left: 10px;
}
/* .foot {
	padding: 30px 0;
} */
.foot ul {
	overflow: hidden;
	padding: 10px 0;
	margin-left: -2.5%;
}
.foot li {
	float: left;
	margin: 10px;
}
.foot .wrap {
	overflow: hidden;
}
.foot li a {
	color: #969696;
	display: block;
	border-left: 1px solid #6a6a6a;
	padding-left: 20px;
}
.footer2 {
	background: #151515;
	padding: 20px 0;
	line-height:200px;
	font-size: 12px;
}
.footer2 span {
	opacity: 0.55;
	filter: alpha(opacity=55);
	display: inline-block;
	margin-left: 15px;
	;
}
.footer2 img {
	vertical-align: middle;
}
.footer2 a{ color:#fff;}
.phone_btn {
	position: fixed;
	z-index: 999;
	top: 50%;
	right: 10px;
}
.phone_btn a {
	display: block;
}
.phone_btn img {
	height: 43px;
}
.phone_btn .wrap { 
	overflow: inherit;
	height: 200px;
}
.phone_btn .list {
	position: absolute;
	transition: all 0.5s;
	right: 0;
	width: 40px;
	overflow: hidden;
	background: #000;
	border-radius: 40px;
}
.phone_btn a {
	display: block;
	clear: both;
	position: relative;
}
.phone_btn .img {
	width: 40px;
	float: left;
	height: 40px;
	background: #000;
}
.phone_btn p {
	white-space: nowrap;
    line-height: 30px;
	overflow: hidden;
	color: #fff;
}
.phone_btn .li_QQ {
	top: 0;
}
.phone_btn .li_QQ .img {
	background: url(../sitefiles/library/images/2021/10/1998089fbea6eba2.png) no-repeat center center;
}
.phone_btn .li_wx {
	top: 50px;
}
.phone_btn .li_wx .img {
	background: url(../sitefiles/library/images/2021/10/7113dfb714c51066.png) no-repeat center center;
}
.phone_btn .li_xq {
	top: 100px;
}
.phone_btn .li_xq .img {
	background: url(../sitefiles/library/images/2021/10/d6cd6e8886b74280.png) no-repeat center center;
}
.phone_btn .li_dh {
	top: 150px;
}
.phone_btn .li_dh .img {
	background: url(../sitefiles/library/images/2021/10/cc58596bf6061ff3.png) no-repeat center center;
}
.phone_btn .list:hover {
	width: 160px;
}
.phone_btn .list_wx {
	position: absolute;
	transition: all 0.5s;
	right: 0;
	width: 40px;
	line-height: 40px;
	background: #000;
	border-radius: 40px;
}
.phone_btn .list_wx:hover .text {
	display: block;
}
.phone_btn .list_wx .text {
	display: none;
	position: absolute;
	right: 100%;
	width: 130px;
	height: 130px;
	top: 50%;
	margin-top: -50px;
	padding-right: 10px;
}
.phone_btn .list_wx .text img {
	width: 100%;
	height: 100%;
}
.zbanner {
	height: 400px;
	background: url(../image/zbanner.png) no-repeat center center
}
.zbanner .wrap {
	overflow: inherit;
}
.div_font {
	position: absolute;
	top: 176px;
	left: 33px;
	font-family: Arial, 微软雅黑;
}
.div_font.div_font1 {
	top: 250px;
}
.div_font .div_p1 {
	font-size: 48px;
	color: #fff;
}
.div_font .div_p2 {
	color: #fff;
	font-size: 18px;
	margin-top: 24px;
	line-height: 27px;
}
.main_tit {
	line-height: 27px;
	padding: 10px 0;
	border-bottom: 1px solid #ececec;
}
.main_tit p {
	padding-left: 20px;
	background: url(../image/icon15.png) no-repeat left 8px;
}
.main_toggle ul {
	overflow: hidden; display:flex
}
.main_toggle ul li {
	float: left;
	width: auto;
	text-align: center;
	line-height: 87px; width:100%
}
.main_toggle.toggle2 ul li {
	width: 50%;
}
.main_toggle ul li a {
	background: #fff;
	margin: 0 1px;
	display: block;
	color: #373737;
	font-size: 15px;
}
.main_toggle ul li a:hover, .main_toggle ul li.on a {
	background: #d73034;
	color: #fff;
}
.main_tips {
	margin: 56px 0;
	line-height: 53px;
}
.main_tips span.span_tit {
	padding: 0 16px;
	display: block;
	color: #fff;
	float: left;
	background: #d31f23;
}
.main_tips span.span_tit label {
	display: block;
	padding-left: 40px;
	background: url(../image/icon13.png) no-repeat left center;
	font-size: 16px;
}
.main_tips span.span_tit label.lbl2 {
	background: url(../image/icon13-1.png) no-repeat left center
}
.tips_lt {
	width: 60%;
	float: left;
}
.tips_lt .text {
	overflow: hidden;
	height: 53px;
	background: #fff;
	padding: 0 40px;
}
.tips_lt .text .item {
	width: auto;
	display: inline-block;
}
.tips_lt .text a {
	color: #818181
}
.tips_search {
	width: 38%;
	float: right;
	height: 51px;
	line-height: 51px;
}
.tips_search .div_input {
	border: 1px solid #d31f23;
	position: relative;
}
.tips_search a {
	display: block;
	width: 53px;
	background: url(../image/icon14.png) no-repeat left center;
	height: 53px;
	position: absolute;
	top: 0;
	right: 0;
}
.tips_owl.owl-theme .owl-controls .owl-nav [class*=owl-] {
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0;
	width: 9px;
	height: 17px;
	background: url(../image/cur3.png) no-repeat center center;
	background-size: 100% auto;
}
.tips_owl.owl-theme .owl-controls .owl-nav .owl-prev {
	left: -20px;
}
.tips_owl.owl-theme .owl-controls .owl-nav .owl-next {
	right: -20px;
	background: url(../image/cur4.png) no-repeat center center;
	background-size: 100% auto;
}
.tips_owl.owl-theme .owl-controls {
	bottom: auto;
	top: 20px;
}
.pagesize {
	text-align: center;
	padding: 40px 0;
}
.pagesize a {
	border: 1px solid #ddd;
	display: inline-block;
	margin-right: 6px;
	color: #707070;
	width: 34px;
	height: 34px;
	font: bold 14px/34px arial;
}
.pagesize a:hover, .pageBox a:active {
	background: #1349a7;
	color: #FFFFFF;
	text-decoration: none;
}
.pagesize .cur {
	background: #e91c0c;
	border: 1px solid #e91c0c;
	text-decoration: none;
}
.pagesize a.cur {
	color: #fff;
}
.pagesize .disabled {
	width: 79px;
}
.z_div1 h3 {
	font-size: 19px;
	border-bottom: 1px solid #eaeaea;
	padding-top: 53px;
	padding-bottom: 23px;
	margin-bottom: 23px;
}
.z_div1 p {
	font-size: 13px;
	color: #acacac;
	line-height: 30px;
}
.z_div1 {
	border-bottom: 1px solid #eaeaea;
	padding-bottom: 23px;
}
.z_div2 {
	border-bottom: 1px solid #eaeaea;
	padding: 15px 0;
}
.z_div2 p {
	font-size: 13px;
	color: #acacac;
	line-height: 38px;
}
.z_div2_p3 img {
	transition: all 0.5s;
	vertical-align: middle;
	margin-right: 10px;
}
.z_div2_p3 a {
	display: inline-block;
	width: 30px;
	height: 38px;
	vertical-align: bottom;
	margin-right: 10px;
}
.z_div2_p3 a.a1 {
	background: url(../image/weixin.png) no-repeat center center;
	background-size: 100% auto;
}
.z_div2_p3 a.a2 {
	background: url(../image/weibo.png) no-repeat center center;
	;
	background-size: 100% auto;
}
.z_div2_p3 a.a3 {
	background: url(../image/pyq.png) no-repeat center center;
	;
	background-size: 100% auto;
}
.z_div2_p3 a.a4 {
	background: url(../image/kj.png) no-repeat center center;
	;
	background-size: 100% auto;
}
.z_div2_p3 a.a1:hover {
	background: url(../image/weixin1.png) no-repeat center center;
	;
	background-size: 100% auto;
}
.z_div2_p3 a.a2:hover {
	background: url(../image/weibo1.png) no-repeat center center;
	;
	background-size: 100% auto;
}
.z_div2_p3 a.a3:hover {
	background: url(../image/kj1.png) no-repeat center center;
	;
	background-size: 100% auto;
}
.z_div2_p3 a.a4:hover {
	background: url(../image/yq1.png) no-repeat center center;
	;
	background-size: 100% auto;
}
.z_div3 {
	position: relative;
	margin: 0 auto;
	margin-top: 26px;
	max-width: 871px;
	text-align: center;
	margin-bottom: 50px;
}
.div3_cur {
	position: absolute;
	top: 40%;
	margin-top: -20px;
	width: 120%;
	left: -10%;
}
.div3_cur span:hover {
	cursor: pointer;
	opacity: 0.5;
	filter: alpha(opacity=50);
}
.pagesize1 {
	padding-top: 32px;
	padding-bottom: 25px;
	border-top: 1px solid #eaeaea;
}
.pagesize1 a {
	display: inline-block;
	width: 54px;
	margin: 0 7px;
	height: 54px;
}
.pagesize1 a.prev {
	background: url(../image/cur1.png) no-repeat center center;
	background-size: 100% auto;
}
.pagesize1 a.next {
	background: url(../image/cur2.png) no-repeat center center;
	background-size: 100% auto;
}
.pagesize1 a.prev:hover {
	background: url(../image/cur1-1.png) no-repeat center center;
	background-size: 100% auto;
}
.pagesize1 a.next:hover {
	background: url(../image/cur2-1.png) no-repeat center center;
	background-size: 100% auto;
}
.pagesize1 a.ty {
	background: url(../image/ty5.png) no-repeat center center;
	background-size: 100% auto;
}
.z_div3_img {
	position: absolute;
	top: 5.1%;
	width: 92%;
	left: 4.1%;
}
.div_owl.owl-theme .owl-controls {
	bottom: -60%;
}

.div_owl.owl-theme .owl-dots .owl-dot span {
	background: #c9c9c9
}
.div_owl.owl-theme .owl-dots .owl-dot.active span, .div_owl.owl-theme .owl-dots .owl-dot:hover span {
	background: #000
}
.div1_p1 {
	line-height: 47px;
}
.div1_p1 img {
	margin-right: 6px;
}
.div1_p1 a {
	font-size: 12px;
	color: #000;
}
.main_div2 li {
	float: left;
	width: 15%;
	text-align: center;
	line-height: 87px;
}
.main_div2 li a {
	color: #373737;
	font-size: 15px;
}
.main_div2 li:nth-child(1) {
	background: #d73034;
	color: #fff;
}
.main_div2 li:nth-child(1) a {
	color: #fff;
}
.main_div3 {
	padding-top: 56px;
}
.main_span1 {
	background: #d31f23;
	width: 143px;
	display: inline-block;
	line-height: 53px;
	font-size: 16px;
	color: #fff;
	float: left;
	margin-right: 24px;
}
.main_span1 .span_img1 {
	padding-left: 18px;
	padding-right: 11px;
}
.main_span1 .span_img2 {
	padding-right: 11px;
	vertical-align: middle;
}
.div3_p {
	float: left;
	line-height: 28px;
}
.div3_p a {
	font-size: 13px;
	color: #818181;
	width: 70px;
	text-align: center;
	display: inline-block;
}
.div3_p img {
	vertical-align: middle;
}
.page_ededed1 {
	background: #fff;
}
.page_falb {
	padding-top: 80px;
}
.case_tit {
	padding: 2em 0;
}
.case_tit ul {
	overflow: hidden;
	margin: 0 -0.5%;
}
.case_tit ul li {
	min-width: 15.6667%;
	margin: 10px 0.5%;
	float: left;
	text-align: center;
	line-height: 50px;
}
.case_tit ul li a {
	display: block;
	padding: 0 10px;
	font-size: 12px;
	background: #f2f2f2;
	border-radius: 30px;
}
.case_tit ul li a:hover, .case_tit ul li.on a {
	background: #d31f23;
	color: #fff;
}
.title2 {
	max-width: 1200px;
	margin: 0 auto;
	border-bottom: 1px solid #eee;
	line-height: 96px;
	text-align: center;
	margin-bottom: 30px;
	position: relative;
}
.title2 span {
	font-size: 22px;
	display: inline-block;
	
}
.title2 em {
	display: block;
	height: 3px;
	line-height: 3px;
	width: 40px;
	background: #d31f23;
	position: absolute;
	left: 50%;
	margin-left: -20px;
	bottom: -1px;
}
.case_info .text {
	margin: 40px 0;
	line-height: 20px;
	color: #6f6f6f
}
.case_info .pagesize {
	text-align: left;
}
.case_info .pagesize a {
	margin: 0;
	margin-right: 30px;
}
.wrap2 {
	max-width: 1300px;
	margin: 0 auto;
	position: relative;
}
.xg_case {
	padding: 100px 0;
}
.xg_case .page_list2 ul li .text {
	padding: 5px 20px;
}
.xg_tit {
	line-height: 45px;
	border-bottom: 1px solid #eee;
	margin-bottom: 10px;
}
.xg_tit span {
	display: inline-block;
	border-bottom: 2px solid #d31f23;
	font-size: 16px;
}
.xg_tit a {
	display: inline-block;
	padding-left: 20px;
	float: right;
	background: url(../image/icon31.png) no-repeat left center;
	color: #909090;
}
.xg_tit a:hover {
	color: #d31f23
}
.news_list ul {
	overflow: hidden;
}
.news_list li * {
	transition: all 0.5s;
}
.news_list li {
	width: 48%;
	margin: 0 1%;
	margin-bottom: 30px;
	padding-bottom: 30px;
	border-bottom: 1px dashed #cfcfcf;
	float: left;
}
.news_list li .img {
	height: 200px;
	overflow: hidden;
}
.news_list li a:hover img {
	transform: scale(1.1);
}
.news_list li a:hover .btn span {
	color: #d31f23;
	border-color: #d62e32
}
.news_list li h3 {
	font-size: 20px;
	position: relative;
	font-weight: normal;
	line-height: 2.5em;
	border-bottom: 1px solid #e4e4e4
}
.news_list li h3 span {
	display: block;
	position: absolute;
	bottom: -1px;
	height: 3px;
	width: 2.5em;
	background: #e63b3e
}
.news_list li .p_time {
	line-height: 50px;
	padding-left: 25px;
	background: url(../image/icon32.png) no-repeat left center;
	color: #b6b6b6;
}
.news_list li .text {
	padding: 25px 0;
	line-height: 20px;
	color: #999;
}
.news_list li .btn span {
	font-size: 12px;
	display: inline-block;
	padding: 0 25px;
	border: 1px solid #b6b6b6;
	line-height: 38px;
	border-radius: 20px;
	color: #b6b6b6;
}
.news_list .pagesize {
	text-align: left;
}
.pagesize.left {
	text-align: left;
}
.news_lt {
	float: left;
	width: 68%;
}
.news_lt li {
	border-bottom: 1px solid #eaeaea
}
.news_list2 {
	padding: 0 10px;
	margin-top: 87px;
}
.news_list2 ul {
	overflow: hidden;
}
.news_list2 li * {
	transition: all 0.5s;
}
.news_list2 .news_lt>ul>li {
	margin-bottom: 18px;
	padding-bottom: 18px;
	border-bottom: none; 
}
.news_list2 li .img {
	height: 200px;
	overflow: hidden;
}
.news_list2 li:hover img {
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	-moz-transform: scale(1.1);
}
.news_list2 li .btn:hover span {
	color: #d31f23;
	border-color: #d62e32
}
.news_list2 li h3 {
	font-size: 20px;
	position: relative;
	font-weight: normal;
	line-height: 2.5em;
	border-bottom: 1px solid #e4e4e4
}
.news_list2 li h3 span {
	display: block;
	position: absolute;
	bottom: -1px;
	height: 3px;
	width: 2.5em;
	background: #e63b3e
}
.news_list2 li .p_time {
	padding-left: 25px;
	background: url(../image/icon32.png) no-repeat left center;
	color: #b6b6b6;
}
.div_tag {
	line-height: 50px;
	color: #b6b6b6
}
.div_tag label {
	padding: 0 10px;
	color: #b6b6b6
}
.div_tag label:hover {
	color: #e63b3e
}
.news_list2 li .text, .news_list2 li .text2 {
	padding: 0;
	line-height: 20px;
	color: #999;
}
.news_list2 li .btn span {
	display: inline-block;
	line-height: 40px;
	color: #b6b6b6;
}
.news_rt {
	width: 25%;
	float: right;
}
.news_rt .item {
	margin: 70px 0;
	line-height: 25px;
}
.news_rt .item a {
	color: #666;
}
.news_rt .item a:hover {
	color: #e63b3e;
}
.news_rt .item .span_tit {
	font-size: 16px;
	display: block;
	line-height: 40px;
}
.news_rt .item1 li {
	float: left;
}
.news_rt .item1 li a {
	display: block;
	line-height: 30px;
	border: 1px solid #e3e3e3;
	padding: 0 10px;
}
.news_rt .item1 li a:hover {
	color: #d31f23;
	border-color: #e63b3e
}
.main_toggle.main_toggle3 ul li {
	width: 20%;
}
.news_rt .item2 a {
	text-decoration: underline;
	white-space: nowrap;
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
}
.news_rt .item2 a:hover {
	color: #d31f23
}
.news_rt .item2 li {
	line-height: 15px;
}
.news_rt .tips_search {
	float: none;
	width: 100%;
}
.news_rt .tips_search .div_input {
	border-color: #e3e3e3;
}
.news_rt ul {
	height: 630px;
}
.news_rt ul li {
	padding: 5px;
}
.gy_jj {
	background: #f7f7f7;
}
.lsfx_tit.gy_tit {
}
.lsfx_tit.gy_tit h3 {
	text-align: center;
	font-size: 22px;
}
.lsfx_tit.gy_tit span {
	left: 50%;
	margin-left: -1.25em;
}












@media only screen and (max-width: 1200px) {
.banner .item .text {
	height: 550px;
}
.banner h1 {
	font-size: 38px;
}
.page_ededed h2 {
	font-size: 28px;
}
.div_font .div_p1 {
	font-size: 40px;
}
.div_font .div_p2 {
	font-size: 18px;
	margin-top: 20px;
}
.zbanner {
	height: 350px;
}
.div_font {
	top: 130px;
}
.zqwh_cx {
	left: 7.5%;
	top: 30%
}
.zqwh_cx, .zqwh_zz, .zqwh_gx {
	width: 24.5%;
}
.zqwh_zz {
	left: 6%;
	top: 50%;
}
.zqwh_gx {
	left: 8%;
	top: 72%;
}
.zqwh_chx, .zqwh_yj, .zqwh_sm, .zqwh_gd {
	width: 28%;
}
.zqwh_chx {
	top: 22%;
}
.zqwh_sm {
	top: 60%;
}
.zqwh_gd {
	top: 77%;
}
.srdz_web h2, .yykf_web_t h2, .fw_wx_web h2, .ds_web_t h2 {
	font-size: 50px;
}
.srdz_list ul li {
	width: 122px;
}
.srdz_web {
	width: 40%;
}
.page_list3 ul li .text span {
	font-size: 20px;
}
}
.main_tab_ht {
	height: 1px;
	width: 100%
}
.main_tab_ht.fixed {
	height: 87px;
}
.main_tab.fixed {
	position: fixed;
	width: 100%;
	top: 110px;
	left: 0;
	z-index: 999;
	background: #fff;
}
@media only screen and (max-width: 1063px) {
.srdz_web h2 {
	font-size: 45px;
}
.page_falb {
	padding-top: 60px;
}
.div_font .div_p1 {
	font-size: 30px;
}
.div_font .div_p2 {
	font-size: 16px;
}
.zbanner {
	height: 300px;
}
.div_font {
	top: 110px;
}
.div_font.div_font1 {
	top: 110px;
}
.div_font .div_p2 {
	font-size: 18px;
	margin-top: 15px;
}
.header .wrap {
	overflow: inherit;
}
.header * {
	transition: all 0s;
	-webkit-transition: all 0s;
	-moz-transition: all 0s;
	-ms-transition: all 0s;
	-o-transition: all 0s;
}
.menu {
	display: none;
	position: absolute;
	height: 1000px;
	background: #000;
	z-index: 1000;
	top: 65px;
	left: 0;
	width: 100%;
}
.menu ul li * {
	display: inline-block;
	color: #fff;
}
.menu ul li label, .menu ul li span {
	color: #fff;
	opacity: 0.5;
}
.menu ul li.on span, .menu ul li a:hover span, .menu ul li.on label, .menu ul li a:hover label {
	color: #fff;
	opacity: 1;
}
.menu ul li em {
	display: none;
}
.menu ul li a {
	display: block;
	text-align: left;
}
.menu ul li span {
	padding: 0 5px;
}
.menu ul li {
	float: none;
	line-height: 40px;
	margin: 0 10px;
	text-align: left;
	border-bottom: 1px solid #454545;
}
.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1000;
	background: #fff;
	box-shadow: 0 0 5px rgba(0,0,0,0.2);
}
.mainer {
	padding-top: 80px;
}
.header .wrap .clear {
	width: 40px;
	height: 40px;
	background: url(../images/menu.png) no-repeat center center;
	background-size: 30px auto;
	position: absolute;
	top: 0;
	right: 10px;
}
.header .wrap .clear.on {
	background: url(../images/menu1.png) no-repeat center center;
	background-size: 30px auto;
}
.header {
	padding: 15px 0;
}
.banner .item .text {
	height: 500px;
}
.banner h1 {
	font-size: 35px;
}
.page_list ul li, .kuang {
	width: 33.333%;
}
.page_list li.li5 .list {
	border-right: 1px solid #e3e3e3;
}
.page_list li.li5 .list, .page_list li.li4 .list {
	border-top: 0;
}
.page_list2 ul li {
	width: 33.333%;
}
.page_list3 ul li {
	width: 50%;
}
.page_link ul li {
	width: 25%;
}
.footer2 p.frt {
	float: none;
}
.page_ededed h2 {
	font-size: 24px;
}
.page {
	padding: 50px 0;
}
.title {
	margin-bottom: 50px;
}
.fw_lc .title {
	margin-bottom: 0;
}
.page_list4 .item {
	width: 50%;
}
.page_list4 .item:nth-child(2) {
	display: none;
}
.page_link ul li a {
	height: 150px;
	line-height: 150px;
}
.phone_btn .list:hover {
	width: 40px;
}

.xg_case {
	padding: 80px 0;
}
.page_lxfs {
	padding: 0 50px;
}
.lxfs_web_xq {
	padding-left: 30px;
}
.lxfs_web {
	width: 60%;
}
.lxfs_ewm {
	width: 40%;
}
.lxfs_ewm_pic img {
	width: 70%;
}
.zqtd_l_web h3 {
	font-size: 28px;
}
.zqtd_l_web p {
	font-size: 20px;
}
}
@media only screen and (max-width: 1024px) {
.news_rt {
	margin-left: 50px;
	max-width: 250px;
}
.page_list3 ul li .text span {
	font-size: 18px;
}
}
@media only screen and (max-width: 850px) {
.fw_ds_pic, .fw_ds_web {
	width: 100%;
}
.fw_ds_pic img {
	width: 70%;
	margin: 0 auto;
	margin-top: 30px;
}
}
@media only screen and (max-width: 800px) {
.page_list3 ul li .text span {
	font-size: 16px;
}
.page_list3 ul li .text p {
	font-size: 14px;
}
.div_input_list .div_input, .div_input_list .div_input.input1, .div_input_list .div_input.input2 {
	width: 98%;
	margin: 5px 1%;
}
.fw_scroll {
	overflow-x: auto;
}
 .fw_scroll::-webkit-scrollbar, .fw_pm_scroll::-webkit-scrollbar {
height:10px;
background:url(../images/bg1.png) repeat-x center center
}
 .fw_scroll::-webkit-scrollbar-thumb, .fw_pm_scroll::-webkit-scrollbar-thumb {
background:#ccc;
height:10px;
border-radius:5px;
}
.yykf_web_t h2, .fw_wx_web h2, .ds_web_t h2 {
	font-size: 40px;
}
.fw_wx {
	height: 500px;
}
.fw_wx_web {
	margin-top: 30px;
}
.fw_wx_pic {
	width: 100%;
	margin-top: 20px;
}
.srdz_pic, .srdz_web {
	width: 100%;
}
.srdz_pic img {
	width: auto;
	max-width: 100%;
	margin: 0 auto;
}
.zqwh_tab {
	padding: 0 15px;
}
.gy_zqwh_tit {
	position: inherit;
	margin-bottom: 20px;
}
.gy_zqwh_pic {
	display: none;
}
.zqwh_list {
	position: inherit;
	width: 100%;
	top: auto;
	left: auto;
	margin: 0;
	padding: 0;
	text-align: left;
	margin-bottom: 30px;
	height: 50px;
	display: table;
}
.zqwh_list p {
	display: table-cell;
	width: 100%;
	font-size: 14px;
	vertical-align: middle;
}
.zqwh_tab .trt {
	text-align: left;
}
.zqwh_list span {
	display: block;
	font-size: 25px;
	float: left;
	width: 90px;
	height: 70px;
	line-height: 70px;
	vertical-align: middle;
	text-align: center;
	background: url(../images/icon72.png) no-repeat left center;
	background-size: auto 100%;
	color: #fff;
}
.div_tag p, .div_tag .span_tag {
	float: none;
}
.zqtd_l_web h3 {
	font-size: 24px;
}
.zqtd_l_web p {
	font-size: 18px;
}
.div_tag {
	line-height: 30px;
}
.lxfs_web_xq {
	width: 100%;
	box-sizing: border-box;
}
.lxfs_ewm_pic img {
	width: 50%;
}
.lxfs_web {
	width: 70%;
}
.lxfs_ewm {
	width: 100%;
	margin-top: 20px;
	text-align: left;
	border-left: 0;
}
.page_lxfs {
	position: relative;
}
.zbanner {
	height: 200px;
}
.page_falb {
	padding-top: 40px;
}
.div_font {
	top: 110px;
}
.ht50 {
	height: 0;
}
.lsfx_tit {
	padding-top: 30px;
}
.div_font.div_font1 {
	top: 110px;
}
.div_font .div_p1 {
	font-size: 20px;
}
.div_font .div_p2 {
	font-size: 14px;
	margin-top: 10px;
}
.banner .item .text {
	height: 400px;
}
.page_list ul li, .kuang {
	width: 100%;
}
.page_list {
	width: 90%;
	margin: 0 auto;
}
.page_list ul {
	border-top: 1px solid #e3e3e3;
	overflow: inherit;
	padding: 0;
}
.page_list ul:before, .page_list ul:after {
	clear: both;
	display: table;
	content: ''
}
.page_list ul li .list {
	border-top: 0;
}
.banner h1 {
	font-size: 30px;
}
.page {
	padding: 30px 0;
}
.title {
	margin-bottom: 30px;
}
.more {
	margin-top: 10px;
}
.page_list4 .item {
	width: 100%;
}
.page_news .item {
	width: 100%;
}
.page_link ul li a {
	height: 120px;
	line-height: 120px;
}
.page_ededed h2 {
	font-size: 20px;
}
.page_list3 ul li .list {
	margin: 10px;
}
.page_list3 ul {
	margin: 0 10px;
}
.main_toggle ul li {
	width: 50%;
}
.tips_search, .tips_lt {
	width: 100%;
	float: none;
}
.main_tips {
	margin: 30px 0;
}
.main_toggle ul li {
	line-height: 50px;
}
.main_tips span.span_tit {
	float: none;
}
.z_div1 h3 {
	padding: 20px 0;
}
.case_tit ul li {
	line-height: 30px;
}
.case_info .text {
	margin: 20px 0;
}
.pagesize {
	padding: 20px 0;
}
.xg_case {
	padding: 40px 0;
}
.news_rt {
	margin: 0;
	clear: both;
	float: none;
	width: 100%;
	max-width: inherit;
	margin-top: 15px;
}
.news_rt .item2 li {
	width: 50%;
	float: left;
	box-sizing: border-box;
}
.news_lt {
	clear: both;
	width: 100%;
}
.news_list2 .news_lt>ul>li {
	margin-bottom: 30px;
	width: 100%;
}
.news_list2 .news_lt li:last-child {
	margin-bottom: 0;
}
.news_list2>ul>li h3 {
	font-size: 16px;
}
.pagesize a {
	width: 40px;
}
.wzxq_web {
	padding: 20px;
}
.wzxq_web p {
	line-height: 25px;
}
}
* {
	font-size: 14px;
}
@media only screen and (max-width:768px) {
.news_list2 li h3 {
	font-size: 16px;
}
.lxfs_web {
	width: 100%;
}
.page_lxfs {
	padding: 0 20px;
	margin: 20px 0;
	padding-bottom: 20px;
}
.lsfx_tit {
	padding-top: 20px;
}
.fkfs_list {
	width: 100%;
	margin-top: 20px;
}
.fkfs_list_web {
	width: 95%;
}
.fkfs_list_web p:last-child span {
	height: auto;
	width: 0;
}
.lxfs_web_xq {
	padding-left: 0;
}
.jrwm_web {
	padding-top: 10px;
}
.jrwm_web p {
	line-height: 18px;
}
.jrwm_tab ul li {
	width: 100%;
	margin: 0 auto;
	margin-bottom: 15px;
	float: none;
}
.jrwm_tab ul li a {
	padding-left: 30px;
}
.page_jrwm {
	padding: 0;
}
.jrwm_tab ul li p {
	line-height: 18px;
	margin-top: 5px;
}
.jrwm_btn a {
	width: 100%;
}
.wrap1, .banner .wrap, .foot .wrap {
	margin: 0 15px;
	padding: 0;
}
.banner ul {
	display: none;
}
.banner .item .text {
	height: 200px;
}
.banner h1 {
	font-size: 20px;
}
.banner p span {
	display: block;
}
.banner p {
	font-size: 14px;
	line-height: 1.5em;
	padding-top: 0;
	padding-bottom: 40px;
}
.banner .item .cell {
	vertical-align: bottom;
}
.banner.owl-theme .owl-dots .owl-dot {
	margin-bottom: 10px;
}
.banner.owl-theme .owl-dots .owl-dot.active:hover span, .banner.owl-theme .owl-dots .owl-dot.active span {
	width: 10px;
}
.banner.owl-theme .owl-dots .owl-dot span {
	background: none;
	border: 1px solid #fff;
	margin: 5px 2px;
}
.logo img {
	height: 40px;
}
.menu {
	top: 57px;
}
.mainer {
	padding-top: 72px;
}
.header .text {
	display: none;
}
.page_list2 ul li {
	width: 100%;
}
.page {
	padding: 20px 0;
}
.title {
	margin-bottom: 20px;
}
.page_list3 ul li .text p {
	height: auto;
}
.page_list4 ul li {
	margin: 0px auto;
	width: 100%;
}
.page_link ul li {
	width: 50%;
}
.page_link ul li:last-child {
	display: none;
}
.page_link ul li a {
	height: 100px;
	line-height: 100px;
}
.page_ededed h2 {
	font-size: 20px;
}
.div_input_list .div_input, .div_input_list .div_input.input1, .div_input_list .div_input.input2 {
	width: 98%;
	margin: 5px 1%;
}
.div_input_list {
	margin-bottom: 0;
}
.page.page_ededed {
	padding-bottom: 50px;
}
.gotop {
	display: none;
}
.phone_btn {
	display: block;
	top: auto;
	right: 10px;
	bottom: 10%;
	text-align: center;
}

.foot {
	padding: 0;
}
.foot li {
	margin: 10px;
	font-size: 12px;
	white-space: nowrap;
}
.foot ul {
	margin-left: -20px; 
}
.footer2 p {
	text-align: center;
}
.footer2 p.flt {
	float: none;
}
.footer2 p.frt {
	padding-top: 10px;
}
.foot li {
	margin-right: 5px;
}
.foot li a {
	text-align: center;
	font-size: 12px;
	padding-left: 15px;
}
.footer2 span {
	margin-left: 0;
}
.div_input input {
	height: 20px;
	line-height: 20px;
}
.div_input input[type=button] {
	height: 44px;
	line-height: 44px;
}
.page_news ul li .date {
	margin-right: 10px;
}
.page_news ul li {
	padding: 15px;
}
.date_k h2 {
	font-size: 30px;
	line-height: 40px;
	height: 40px;
}
.page_news ul li .text h3 {
	font-size: 16px;
	margin-bottom: 5px;
}
.page_news ul li .tips {
	background: url(../image/tips.png) no-repeat top center;
	height: 26px;
	line-height: 20px;
	font-size: 12px;
	background-size: 100% auto;
	width: 29px;
}
.page_news ul li .date_k {
	height: 65px;
	width: 55px;
}
.main_toggle.main_toggle3 ul li {
	width: 33.333%;
}
.div_font.div_font1 {
	top: 120px;
}
.gy_jj_web, .gy_jj_pic {
	width: 100%;
	padding: 0;
}
.zqdw_ln span {
	font-size: 25px;
	height: 50px;
	line-height: 50px;
}
.zqdw_tb_m {
	width: 100px;
	margin-left: -50px;
	top: -43px;
}
.zqdw_ln {
	margin-top: 130px;
}
.gy_zqdw {
	height: 260px;
	padding-top: 82px;
}
.zqpz_list_pic {
	width: 100%;
	position: relative;
}
.zqpz_list_pic:before {
	display: block;
	width: 20px;
	height: 20px;
	background: #fff;
	position: absolute;
	bottom: -9px;
	left: 50%;
	margin-left: -10px;
	content: '';
	background: #f7f7f7;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	border-radius: 2px;
}
.zqpz_list_web {
	width: 100%;
	display: block;
	height: auto;
	padding: 30px 0px;
	text-align: center;
}
.zqpz_list_web_cell {
	padding: 0 15px;
	display: block;
}
.zqpz_list_web_cell p {
	width: 100%;
	line-height: 1.5em;
}
.zqtd_l, .zqtd_r {
	width: 100%;
	float: none;
	height: auto;
}
.zqtd_r_web {
	padding: 40px 0;
	float: none;
	position: relative;
	margin: 0 auto;
}
.zqtd_r_web:before {
	display: block;
	width: 30px;
	height: 30px;
	background: #fff;
	position: absolute;
	bottom: -14px;
	left: 50%;
	margin-left: -15px;
	content: '';
	background: #e83e42;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	border-radius: 3px;
}
.zqtd_l_web {
	padding: 40px 0;
	width: 100%;
	margin: 0;
}
.zqtd_l_web h3 {
	font-size: 22px;
}
.zqtd_l_web p {
	font-size: 14px;
}
.gy_zqtd {
	padding-bottom: 0;
}
.zqwh_list {
	position: inherit;
	width: 100%;
}
.zqwh_tab {
	padding: 0 15px;
}
.zqwh_tab .trt {
	text-align: left;
}
.gy_zqwh_pic img {
	opacity: 0;
}
.srdz_web, .yykf_web, .fw_ds_web {
	width: 100%;
}
.srdz_pic, .yykf_pic, .fw_wx_web, .fw_wx_pic, .fw_ds, .fw_ds_pic {
	width: 100%
}
.srdz_web h2, .yykf_web h2, .fw_wx_web h2, .ds_web_t h2, .fw_pm_t h2 {
	font-size: 30px;
	text-align: center;
}
.fw_srdz, .yykf_web_t, .fw_wx, .fw_wx_web, .fw_wx_pic {
	margin-top: 30px;
	padding-top: 0px;
}
.fw_yykf, .fw_ds, .ds_web_list {
	margin-top: 20px;
	padding-top: 0;
}
.srdz_list ul li, .yykf_list ul li {
	width: 50%;
	margin-bottom: 15px;
}
.fw_lc, .fw_ds {
	padding-top: 30px;
}
.yykf_web_t p, .fw_wx_web p, .ds_web_t p, .fw_pm_t p {
	font-size: 14px;
	text-align: center;
}
.fw_wx {
	height: auto;
	padding-bottom: 30px;
}
.ds_web_list ul li {
	margin: 0 1%;
	width: 31.333%;
	margin-bottom: 15px;
	text-align: center;
}
.ds_web_list ul li span {
	margin: 0 auto;
}
.fw_ds_pic {
	margin-top: 20px;
}
.fw_pm_scroll {
	overflow-x: auto;
	padding-bottom: 30px;
}
.fw_pm_tab {
	width: 780px;
	white-space: nowrap;
}
.fw_pm_list1 {
	width: 150px;
}
.fw_pm_list2 {
	width: 60px;
}
@media only screen and (max-width:768px) and (min-width:500px) {
.page_list2 ul li {
	width: 50%;
}
.page_list2 ul li:nth-child(2n+1) {
	clear: both;
}
.wrap {
	padding: 0 15px;
}
}
@media only screen and (max-width: 768px) {
.page_list3 ul li .text span.span1 {
	background: url(../image/icon16.png) no-repeat left center;
	background-size: auto 90%;
}
.page_list3 ul li .text span.span2 {
	background: url(../image/icon17.png) no-repeat 5px center;
	background-size: auto 90%;
}
.page_list3 ul li .text span.span3 {
	background: url(../image/icon18.png) no-repeat 2px center;
	background-size: auto 60%;
}
.page_list3 ul li .text span.span4 {
	background: url(../image/icon19.png) no-repeat 2px center;
	background-size: auto 90%;
}
.page_list3 ul li .text span.span5 {
	background: url(../image/icon20.png) no-repeat 10px center;
	background-size: auto 90%;
}
.page_list3 ul li .text span.span6 {
	background: url(../image/icon21.png) no-repeat 5px center;
	background-size: auto 90%;
}
.page_list3 ul li .text span.span7 {
	background: url(../image/icon22.png) no-repeat 5px center;
	background-size: auto 90%;
}
.page_list3 ul li .text span.span8 {
	background: url(../image/icon23.png) no-repeat left center;
	background-size: auto 50%;
}
.page_list3 ul li .text span.span9 {
	background: url(../image/icon24.png) no-repeat 5px center;
	background-size: auto 90%;
}
.page_list3 ul li .text span.span10 {
	background: url(../image/icon25.png) no-repeat 5px center;
	background-size: auto 90%;
}
.page_list3 ul li .text span.span11 {
	background: url(../image/icon26.png) no-repeat 5px center;
	background-size: auto 90%;
}
.page_list3 ul li .text span.span12 {
	background: url(../image/icon27.png) no-repeat 5px center;
	background-size: auto 90%;
}
.page_list3 ul li .text span.span13 {
	background: url(../image/icon28.png) no-repeat 5px center;
	background-size: auto 90%;
}
.page_list3 ul li .text span.span14 {
	background: url(../image/icon29.png) no-repeat 5px center;
	background-size: auto 90%;
}
.page_list3 ul li a:active .text span.span1, .page_list3 ul li a:hover .text span.span1 {
	background: url(../images/icon16_1.png) no-repeat left center;
	background-size: auto 90%;
}
.page_list3 ul li a:active .text span.span2, .page_list3 ul li a:hover .text span.span2 {
	background: url(../images/icon17_1.png) no-repeat 5px center;
	background-size: auto 90%;
}
.page_list3 ul li a:active .text span.span3, .page_list3 ul li a:hover .text span.span3 {
	background: url(../images/icon18_1.png) no-repeat 2px center;
	background-size: auto 60%;
}
.page_list3 ul li a:active .text span.span4, .page_list3 ul li a:hover .text span.span4 {
	background: url(../images/icon19_1.png) no-repeat 2px center;
	background-size: auto 90%;
}
.page_list3 ul li a:active .text span.span5, .page_list3 ul li a:hover .text span.span5 {
	background: url(../images/icon20_1.png) no-repeat 10px center;
	background-size: auto 90%;
}
.page_list3 ul li a:active .text span.span6, .page_list3 ul li a:hover .text span.span6 {
	background: url(../images/icon21_1.png) no-repeat 5px center;
	background-size: auto 90%;
}
.page_list3 ul li a:active .text span.span7, .page_list3 ul li a:hover .text span.span7 {
	background: url(../images/icon22_1.png) no-repeat 5px center;
	background-size: auto 90%;
}
.page_list3 ul li a:active .text span.span8, .page_list3 ul li a:hover .text span.span8 {
	background: url(../images/icon23_1.png) no-repeat left center;
	background-size: auto 50%;
}
.page_list3 ul li a:active .text span.span9, .page_list3 ul li a:hover .text span.span9 {
	background: url(../images/icon24_1.png) no-repeat 5px center;
	background-size: auto 90%;
}
.page_list3 ul li a:active .text span.span10, .page_list3 ul li a:hover .text span.span10 {
	background: url(../images/icon25_1.png) no-repeat 5px center;
	background-size: auto 90%;
}
.page_list3 ul li a:active .text span.span11, .page_list3 ul li a:hover .text span.span11 {
	background: url(../images/icon26_1.png) no-repeat 5px center;
	background-size: auto 90%;
}
.page_list3 ul li a:active .text span.span12, .page_list3 ul li a:hover .text span.span12 {
	background: url(../images/icon27_1.png) no-repeat 5px center;
	background-size: auto 90%;
}
.page_list3 ul li a:active .text span.span13, .page_list3 ul li a:hover .text span.span13 {
	background: url(../images/icon28_1.png) no-repeat 5px center;
	background-size: auto 90%;
}
.page_list3 ul li a:active .text span.span14, .page_list3 ul li a:hover .text span.span14 {
	background: url(../images/icon29_1.png) no-repeat 5px center;
	background-size: auto 90%;
}
.page_list3 ul li a .text span {
}
.wrap {
	padding: 0 15px;
	margin: 0;
}
.news_list2 {
	margin-top: 30px;
}
.news_rt .item {
	margin: 20px 0;
}
.news_rt ul {
	max-height: initial;
	height: auto;
}
}
.banner .item {
	height: 600px;
}
@media only screen and (max-width: 1200px) {
.banner .item {
	height: 500px;
}
}
@media only screen and (max-width: 1024px) {
.banner .item {
	height: 400px;
}
}
@media only screen and (max-width: 800px) {
.banner .item {
	height: 350px;
}
}
@media only screen and (max-width: 600px) {
.banner .item {
	height: 300px;
}
}
#tyj {
	font-size: 19px;
	font-weight: normal;
	line-height: 30px;
	margin-bottom: 15px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.pagess {clear: both;margin: 20px 0 60px;overflow: hidden;margin-left: 0px;text-align: center;font-size:12px}
.pagess ul li { display:inline-block;border: 1px solid #ccc;padding: 2px 9px;margin: 0 3px;line-height: 20px;background: #fff;color:#999}
.pagess ul li:hover{ background:#ccc; color:#fff;border: 1px solid #ccc}
.pagess ul li:hover a{color:#fff;}
.pagess ul li.thisclass {display: inline-block;border: 1px solid #ccc;padding: 2px 9px;margin: 0 3px;background: #ccc;color: #fff;}
.pagess ul li.thisclass a {color: #fff;}
.pagess ul li a{ display:block;color:#999}
.pagess ul li a:hover {color: #fff;}

#maximg img{ max-width:100% !important; height:auto !important}